<div class="field">
  <%= form.email_field :email %>
</div>

<div class="field">
  <%= form.password_field :password, autocomplete: "off" %>
</div>

<%#  Is this necessary because we are overwritting%>
<%= form.hidden_field :handler_name %>
